/* Space out content a bit */

*{
  color: #9a9a9a;
  font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
   color: #9a9a9a!important;
   font-size: 13pt;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

input[type="date"]:before {
  content: attr(placeholder);
  color: #aaa;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
  content: "";
}
html, body{
  height: 100%;
}
body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.bodybg {
	background-image: url(../images/bgcut.png);
}

.bodybg1 {
	background-image: url("../images/splash.jpg");
}

a:hover, a:focus, a:active, a:visited{
  text-decoration: none;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.no-border{
  border: none;
}

.bg-white{
  background-color: white!important;
  background-image: none;
}
#navbar{
  height: 65px;
}

#navbar a{
  height: 65px;
  line-height: 65px;
}

#navbar a.back{
  font-size: 16pt;
  color: #e95b19;
  white-space: nowrap;
}
#navbar a.home i{
  color: #e95b19;
}
#navbar a.logout{
  font-size: 16pt;
  color: #666;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*background-color: white;*/
}
.bg-white{background-color: white;}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 19px;
  position: relative;
  top: 0.4em;
  text-transform: capitalize;
}

.header {
  font-size: 2em;
}

.asas{
padding: 33px 0 0 !important;
}
.add {
padding: 70px 0;
}

.relative .fa{
  position: absolute;
  right: 15px;
  top: 24px;
}

.fa-icon{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


.black_dot{ color: #000;}

.white_dot{
  
  color: #fff;

}

/* Custom page footer */
.footer {
  background-color: #333333;
  border-top: 1px solid #e5e5e5;
  color: whitesmoke;
  text-align: justify;
}

  .footer  a > i.fa {
    /*padding: 0 2px 0 2px;*/
  }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.app-header{
  background-color: #838280;
  font-size: 1.5em;
  margin-top: 66px;
  padding: 15px;
  padding-left: 50px;
  height: 60px;
}
.answer-header{
  padding: 10px !important;
  line-height: 15px !important;
  min-height: 15px !important;
}
.app-header.pencil{
  background: url(../images/icon-pencil.png?_=1) no-repeat left bottom #838280;
}
.app-header.open{
  background: url(../images/icon-open.png?_=1) no-repeat left bottom #e95b19;
}
.app-header.checklist{
  background: url(../images/icon-checklist.png?_=1) no-repeat left bottom #838280;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.app-header.incident{
  background: url(../images/icon-checklist.png?_=1) no-repeat left bottom #838280;
}

.app-header.category{
  background: url(../images/icon-category.png?_=1) no-repeat left bottom #838280;
}

.hospital{
	padding-left: 10px;
}

.icon-email{
  background-image: url(../images/icon-email.png?_=1);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-color: #e95a18;
}

.icon-camera{
  background-image: url(../images/icon-camera.png?_=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 36px auto;
}

.project-name {
  color: white !important;
  font-family: 'open_sanslight', Arial, sans-serif;
  white-space: nowrap;
}

.project-name .checklist-name{
  font-size: 12pt;
  color: white;
}

.form-control {
  display: inline-block;
}

.answers {
  position: relative;
  
}

.answers > .control-group {
  padding: 1em;
}

#sw-wrapper {
  top: 27em !important;
}

#sw-cancel {
  display: none;
}

#sw-done {

}

#sw-frame {
  -webkit-box-sizing:content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.footer {
  text-align: center;
}

.header button,
.footer button {
  color: #cb0b0f;
  border: none;
  background: none;
}

  .header button:hover,
  .header button:focus,
  .header button:active,
  .header button.active,
  .footer button:hover,
  .footer button:focus,
  .footer button:active,
  .footer button.active{
    color: #cb0b0f;
  }
 
.sw-center {
  text-align: center;
}

.btn-primary {
  color: #ffffff;
  background-color: #cb0b0f;
  border-color: #ed5e18;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #cb0b0f;
  border-color: #e27e19;
}

.btn-picture,
.btn-picture:hover,
.btn-picture:focus,
.btn-picture:active,
.btn-picture.active {
  color: #ffffff;
}

.btn-picture {
  background-color: #9d9d9d;
  border: solid 1px #9d9d9d;
}

.btn-picture:hover,
.btn-picture:focus,
.btn-picture:active,
.btn-picture.active {
  background-color: #9d9d9d;
  border: solid 1px #9d9d9d;
}

fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #cb0b0f;
  border-color: #cb0b0f;
}
#picurl{margin: 0 0 15px;
display: block;}

div.aa {
  padding: 20px;
  font-size: 15pt;
  padding-left: 30px;
}

div.hospitals {
  padding: 5px 10px 5px 20px;
  font-size: 15pt;
  padding-left: 30px;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; 
}

div.hospitals span {
  font-size: 11pt;
}

.overflow-hidden{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0;
}

.list_item{
  background: #fff;
  border-bottom: solid 1px #eee;
  min-height: 70px;
}

.list_item .btn-edit{
  border: none;
  border-left: solid 1px #eee;
  height: 60px;
  width: 60px;
  display: block;
  background: url(../images/icon-edit.png) no-repeat center center white;
}

div#heading {
  background: #000;
  overflow: hidden;
  padding: 7px 0;
}
.frame {
  height: 300px;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}
.frame.projectlist{
  height: calc(100% - 107px);
}
.frame.fixed{
  position: absolute;
  width: 100%;
  height: calc(100% - 130px);
}
.layout{ overflow: hidden;}

.notice{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.logo{
  margin: 40px auto;
  width: 150px;
}

.image_area{
  margin: 10px 0;
}

.answer-status-yes{
  background: url(../images/yes.png?_=2) no-repeat 5px;
}
.answer-status-no{
  background: url(../images/no.png?_=2) no-repeat 5px;
}
.answer-status-na{
  background: url(../images/na.png?_=2) no-repeat 5px;
}
.answer-status-resolved{
  background: url(../images/resolved.png?_=2) no-repeat 5px;
}
.selected-border{
  border: dotted 1px #f00;
}

.login-form .username, .login-form .password{
  height: 40px;
  text-indent: 5px;
  margin-top: 5px;
}

.login-form .username{
  height: 40px;
  text-indent: 5px;
  margin-top: 5px;
  background: url(../images/dropdown.png?_=2) no-repeat right 20px center white;
  background-size: 17px 10px;
}

.login-form #usernameTxt + .username-list-container {
  overflow: visible;
  position: relative;
  display: none;
}

.login-form ul.username-list {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}

.login-form ul.username-list li {
  height: 60px;
  border-bottom: solid 1px #e6e6e6;
  line-height: 60px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.login-form .remember-me{
  min-height: 30px;
  min-width: 30px;
  font-size: 10pt;
  text-indent: 20px;
  line-height: 50px;
  height: 50px;
  display: block;
  font-weight: normal;
  width: 100px;
  white-space: nowrap;
  overflow: visible;
}

.login-form .forgot-password{
  line-height: 30px;
  font-size: 10pt;
}

.login-form .btn-signin{
  margin: 0 auto;
  width: calc(100% - 20px);
}

.login-form .btn-signup{
  margin: 0px auto;
  margin-top: 10px;
  width: calc(100% - 20px);
  background-color: #9d9d9d;
  color: white;
}

.signup-form input{
  border: none;
  border-radius: 0;
  height: 60px;
  border-bottom: solid 1px #eee;
}

.signup-form .btn-submit{
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  width: calc(100% - 20px);
}

.signup-header{
  background-color: white;
}

.signup-header .back a{
  font-size: 16pt;
  color: #dc6024;
}

.signup-header *{
  line-height: 60px;
}

.signup-header .title{
  color: #666;
  font-size: 16pt;
}
.signup-header .home i{
  color: #dc6024;
  font-size: 16pt;
}

.pwdreset-form .title{
  padding: 20px;
  font-size: 12pt;
  color: #838280 !important;
}

.pwdreset-form input#usernameTxt{
  border-radius: none;
  width: 100%;
  height: 60px;
}

.pwdreset-form .btn-submit{
  margin: 0 auto;
  margin-top: 30px;
  width: calc(100% - 20px);
  height: 60px;
  font-size: 13pt;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.open-checklist button{
  margin: 0 auto;
  width: calc(100% - 20px);
  font-size: 4vw;
}

.open-checklist2 {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px
}

.open-checklist2 button{
  margin: 0 auto;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  width: calc(25% - 2px);
  min-height: 22vw;
  font-size: 4vw;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

#reportForm input{
  border: none;
  height: 60px;
  width: 100%;
  border-bottom: solid 1px #eee;
}

#reportForm button{
  margin: 0 auto;
  width: calc(100% - 20px);
}
#reportForm .btn-picture{
  margin-top: 8px;
}

.language-select-overlay{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;

}

.language-select-overlay table{
  width: 100%;
  height: 100%;
  text-align: center;
  
}

.language-selector{
  position: absolute; right:0; top: 10px; width: 100px; height: 30px; z-index: 1050;
}


.uppercase{
  text-transform: uppercase;
}



.answer-item, .answer-item:active, .answer-item:hover, .answer-item:visited, .answer-item:focus{
  float: left !important;
  display: block;
  width: 25%;
  padding: 0;
  border: none;
  border-right: solid 1px #dcdcdc;
  background-color: white;
  text-align: left;
  color: #666;
  font-size: 13pt;
  height: 50px;
  margin-left: 0 !important;
}

.answer-item .black_dot{
  color: #0d0e0f;
}

.answer-item ~ .answer-item{
  border-right: solid 1px #dcdcdc;
}
.answer-item:last-child{
  border-right: none;
}
.answer-item:first-child{
  
}
.answer-item .answer-sub-item{
  width: 30px;
}

.answer-sub-item{
  display: inline-block;
  width: 30px;
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  line-height: 50px;
  vertical-align: middle;
  margin-right: 0px;
  color: #dcdcdc;
  text-align: center;
  font-size: 100%;
}


